@font-face {
  font-family: "PoppinsHeader";
  src: url("../public/Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsBody";
  src: url("../public/Fonts/Poppins/Poppins-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsBody", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-family: "PoppinsHeader", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(240, 250, 255); */
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
textarea,
p,
input,
input::placeholder,
textarea::placeholder {
  color: black;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: #272522;
}

input {
  height: 38px;
  font-size: 18px;
  resize: none;
  width: 350px;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  color: #272522;
  background-color: rgb(255, 255, 255);
}

button {
  user-select: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: black;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
  -moz-box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.nav-wrapper {
  position: relative;
  z-index: 111;
}

.search-controls {
  position: relative;
  z-index: 11;
  display: flex;
  margin-top: 25px;
  margin-left: 20px;
  gap: 10px;
}

.control-inner button:first-child {
  margin-right: 10px;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.card {
  border: none;
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 400px;
  transition: 0.2s all ease-in-out;
}

.card.showDesc {
  height: unset;
  padding-bottom: 20px;
  transition: 0.2s all ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.2s all ease-in-out;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  padding: 15px;
}

.card-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  flex-direction: column;
}

.card-wrapper h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.showMoreEl {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.card-wrapper a {
  width: 65px;
  text-decoration: underline;
}

.genre-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-wrapper p {
  margin-bottom: 0;
  font-size: 13px;
}

.genre-item {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  user-select: none;
  padding: 2px 8px;
  border-radius: 100px;
  background-color: rgb(227, 227, 227);
}

.Action {
  background-color: rgb(255, 127, 127);
}

.Fantasy {
  background-color: rgb(250, 230, 49);
}

.Adventure {
  background-color: rgb(76, 179, 76);
}

.Mystery {
  background-color: rgb(222, 127, 222);
}

.Supernatural {
  background-color: rgb(119, 191, 231);
}

.Drama {
  background-color: rgb(255, 196, 0);
}

.Comedy {
  background-color: rgb(133, 255, 208);
}

.Romance {
  background-color: rgb(255, 167, 201);
}

.Gourmet {
  background-color: burlywood;
}

.Slice,
.of,
.Life {
  background-color: rgb(194, 189, 255);
}

.Sci-Fi {
  background-color: rgb(168, 255, 39);
}

.Sports {
  background-color: rgb(203, 207, 255);
}

.Ecchi {
  background-color: rgb(248, 217, 177);
}

.interaction-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.interaction-wrapper a {
  margin-right: 5px;
}

.save-icon {
  color: unset;
  cursor: pointer;
  font-size: 24px;
}

.save-icon:hover {
  color: rgb(0, 119, 255);
}
.pages-wrapper {
  margin-bottom: 40px;
}

.pages-wrapper button {
  margin-right: 8px;
}

.pages-wrapper button:last-child {
  margin-right: 0;
}

select {
  margin-left: 8px;
  width: 175px;
  cursor: pointer;
  font-size: 18px;
  color: #444;
  padding: 3px 12px;
  border-radius: 5px;
  appearance: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.activePage {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

@media screen and (max-width: 730px) {
  button:hover {
    transform: scale(1);
  }

  .search-controls {
    flex-direction: column;
  }
}

@media screen and (max-width: 468px) {
  input {
    width: 90vw;
  }

  .search-controls {
    margin-left: 0;
  }
}

/* ---------------- ---------------- ---------------- */
body {
  margin: 0;
  padding: 0;
  background-color: #0e6cc4;
}

/*waves****************************/

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: rgba(0, 170, 255, 0.446);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 70000ms infinite linear;
}

.wave.-three {
  animation: drift 75000ms infinite linear;
  position: fixed;
  background-color: #77daff;
}

.wave.-two {
  animation: drift 30000ms infinite linear;
  opacity: 0.1;
  background: black;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962ff);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@media screen and (max-width: 730px) {
  button:hover,
  .card:hover {
    transform: scale(1);
  }
}
